{% extends 'base.html' %} {% block content %}
<div class="container">
  <h1>Orders</h1>
  {% for order in orders %}
  <div class="order">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Order ID</th>
          <th>Status</th>
          <th>Date Created</th>
          <th>Actions</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ order.id }}</td>
          <td>{{ order.status }}</td>
          <td>{{ order.date_created.strftime("%d/%m/%Y %H:%M") }}</td>
          <td><a href="/admin/orders/{{order.id}}" class="btn btn-success me-2">Edit Order</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <hr />
  {% endfor %}
</div>
{% endblock %}
